
* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    color: white;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    font-size: 20px;
}

h2 {
  text-align: center;
  color: rgb(224, 97, 97);
  margin-bottom: 20px;
}

.container {
    margin: 0 100px 50px 100px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head {
    text-align: center;
}

.head div {
    display: inline-block;
    vertical-align: middle;
}

.head p {
    font-size: 40px;
    color: red;
}

img {
    width: 50%;
}

/* div {
    border: 1px solid black;
} */

section {
    background: rgba(21, 166, 192, 0.5);
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    border-left: 20px solid blue;
}

#firstGallery, #secondGallery {
  text-align: center;
}

.program-tour, .price-tour {
    padding: 20px;
    
}

.day-num {
    margin: 10px;
    font-size: 26px;
}

.plane-day {
    width: 30%;
    display: inline-block;
    border: 0;
    vertical-align: middle;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse; 
}

.time-line{
    border-right: 4px solid #000000;
    width: 30px;
    height: 30px;
}

.table td {
    position: relative;
    text-align: left;
}

.table p {
    padding: 8px;
}

.time {
  font-weight: bold;
  color: #000;
  text-shadow: none;
  text-shadow: 1px 0 1px #ffffff, 
    0 1px 1px #ffffff, 
    -1px 0 1px #ffffff, 
    0 -1px 1px #ffffff;
}

.circle {
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    position: absolute;
    left: -8px;
}

.gallery {
    display: inline-block;
    width: 60%;
    height: 500px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    vertical-align: middle;
}

.sidebar {
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    transition: transform 0.5s ease-in-out;
  }
  
  .sidebar > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-right: 0px;
  }
  
  .sidebar h3 {
      padding-right: 20px;
      padding-left: 5px;
      margin-bottom: 10px;
      margin-top: -30px;
  }

  .sidebar p {
    padding: 0 30px 0 30px;
    font-size: 15px;
  }
  
  .main-slide {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    transition: transform 0.5s ease-in-out;
  }
  
  .main-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }
  
  button {
    background-color: #fff;
    border: 1px solid black;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 2px;
    width: 20px;
    height: 20px;
    text-align: center;
  }
  
  button:hover {
    color: #222;
  }
  
  button:focus {
    outline: none;
  }
  
  .container .controls button {
    position: absolute;
    left: 30%;
    top: 50%;
    z-index: 100;
  }
  
  .container .controls .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .container .controls .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

.price{
    width: fit-content;
    border: 2px solid black;
    background: white;
    color: black;
    padding: 4px;
    text-shadow: none;
}

.price-tour {
  text-align: center;
}

.price-tour table {
  width: 100%;
  table-layout: fixed;
}

.price-tour table td{
  width: 100%;
  table-layout: fixed;
  padding: 10px;
}

.price-tour table td:nth-child(even) {
  text-align: left;
  border-left: 1px solid black;
}
.price-tour table td:nth-child(odd) {
  text-align: right;
  border-right: 1px solid black;
}


.footer {
    position: fixed;
    /* height: 20px; */
    background: white;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 0;
    border-top: 2px solid black;
    text-align: center;
    padding: 10px;
}

.footer p {
    margin: 0;
    color: #000000;
    text-shadow:none
}


@media (max-width: 1200px) {

  .plane-day{
    display: block;
    text-align: center;
    width: 100%;
  }

  .gallery {
    width: 90%;
  }

  .container {
    margin: 1px;
  }

  .gallery p{
    display: none;
  }

  .price-tour {
    margin-bottom: 60px;
  }
}

@media (max-width: 700px) {

  .plane-day{
    display: block;
    text-align: center;
    width: 100%;
  }

  .gallery {
    width: 90%;
  }

  .container {
    margin: 1%;
  }

  .gallery p{
    display: none;
  }

  .price-tour {
    margin-bottom: 30px;
  }

  *{
    font-size: .9em;
  }
}


