
* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(212, 66, 66);
    padding: 0;
    margin: 0;
    color: white;
}

.container {
    margin: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head {
    text-align: center;
}

.head div {
    display: inline-block;
    vertical-align: middle;
}

.head p {
    font-size: 26px;
}

img {
    width: 50%;
}

/* div {
    border: 1px solid black;
} */

section {
    text-align: center;
}

.program-tour {
    background: rgb(240, 234, 234, .2);
    padding: 20px;
    
}

.day-num {
    margin: 10px;
    font-size: 30px;
}

.plane-day {
    width: 30%;
    display: inline-block;
    border: 0;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse; 
}

.time-line{
    border-right: 4px solid #000000;
    width: 30px;
    height: 30px;
}

.table td {
    position: relative;
    text-align: left;
}

.table p {
    padding: 8px;
}

.circle {
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    position: absolute;
    left: -8px;
}

.gallery {
    display: inline-block;
    width: 60%;
    height: 500px;
    position: relative;
    overflow: hidden;
    border: 0;
}

.sidebar {
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    transition: transform 0.5s ease-in-out;
  }
  
  .sidebar > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-right: 0px;
  }
  
  .sidebar h3 {
      padding-right: 20px;
      padding-left: 5px;
      margin-bottom: 10px;
      margin-top: -30px;
  }
  
  .main-slide {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    transition: transform 0.5s ease-in-out;
  }
  
  .main-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }
  
  button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 2px;
    width: 20px;
    height: 20px;
    text-align: center;
  }
  
  button:hover {
    color: #222;
  }
  
  button:focus {
    outline: none;
  }
  
  .container .controls button {
    position: absolute;
    left: 30%;
    top: 50%;
    z-index: 100;
  }
  
  .container .controls .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .container .controls .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }


.price-tour {
    background: rgb(240, 234, 234, .2);
    padding: 20px;
}

.price{
    border: 2px solid black;
    background: white;
    color: black;
    padding: 2px;
}

.footer {
    position: fixed;
    /* height: 20px; */
    background: white;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 0;
    border-top: 2px solid black;
    text-align: center;
}

.footer p {
    margin: 0;
    color: #000000;
}



/* p {
  margin: 20px;
  text-shadow: 2px 2px 2px #000;
}

h1 {
  text-shadow: 2px 2px 2px #000;
} */


